@charset "utf-8";

.header{
    height: 240px;
}

.out-body{
    margin: 0 10% 0 10%;
}

.menu_head{width:185px;height:47px;line-height:47px;padding-left:38px;font-size:14px;color:#525252;cursor:pointer;border:1px solid #e1e1e1;position:relative;margin:0px;font-weight:bold;background:#f1f1f1}
.menu_list .current{background:#f1f1f1}
.menu_body{width:185px;height:auto;overflow:hidden;line-height:38px;border-left:1px solid #e1e1e1;backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;width:223px;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}
.menu_body a:hover{text-decoration:none;}

.title{
    float: left;
}

#content{
    margin: 2px 0 0 18px;
    display: inline;
    float: left;
    width:920px;
    font-size: 16px;
}
#content a{
    text-decoration: none;
}
#content a:hover{
    text-decoration: none;
}

.footer{
    font-size: 16px;
    margin-top: 260px;
    text-align: center;
    width: 100%;
}